<div class = 'basic text-light'>
    <div class = 'container pt-5'>
        <div class = 'row'>
            <div class = 'col-md-6 align-middle'>
                <h1 class = 'mb-4'>About me</h1>
                <p class = 'lead'>
                    <b>
                        Hello, I'm Nilesh Gautam
                    </b>
                    I am a passionate and innovative computer engineer 
                    on the brink of graduation, eager to embark on a journey where technology meets creativity. 
                    With a solid foundation in computer science and engineering, I thrive on turning ideas 
                    into reality through code and design.
                    <br><br>
                    <b>
                        What Drives Me?
                    </b>
                    I am driven by a relentless curiosity about the ever-evolving world of technology. 
                    From intricate algorithms to cutting-edge software, 
                    I find joy in unraveling complex problems and crafting elegant solutions. 
                    My fascination with emerging technologies motivates me to stay ahead of the curve and 
                    continuously expand my skill set.
                </p>
            </div>
    
            <div class = 'col-md-6 pt-5 mb-5 text-md-end text-center'>
                <img class = 'self' src="../static/self.jpg" alt="nilesh image">
            </div>
        </div>
    </div>
</div>