<div class = 'skills pt-5'>
    <div class = 'container basic text-light'>
        <div class = 'row' >
            <div class = 'col-md-6 '>
                <img src="../static/skills.png" alt="skill png" class = 'skill-image'>
            </div>
            <div class = 'col-md-6 lead'>
                <h1 class = 'mb-4'>Technical Proficiency</h1>
                <ul>
                    <h4 class = 'mt-4'>Programming Languages</h4>
                    <li>
                        C, C++, JavaScript, Python: Proficient in a versatile set of programming languages for system development, web applications, and scripting.
                    </li>
                    <h4 class = 'mt-4'>Web Development</h4>
                    <li>
                        HTML, CSS, JavaScript, Flask: Skilled in creating dynamic and visually appealing web applications using a combination of front-end and back-end technologies.
                    </li>
                    <h4 class = 'mt-4'>Frameworks and Tools</h4>
                    <li>
                        : Flask, Bootstrap, Node.js, React, Git, Github Flask, Bootstrap, Node.js, React, Git, GitHub: Experienced with frameworks and tools such as Flask for web development, Bootstrap for responsive design, Node.js for server-side applications, React for dynamic interfaces, and Git/GitHub for version control.
                    </li>
                    <h4 class = 'mt-4'>Database Management</h4>
                    <li>
                        PostgreSQL, MySQL, MongoDB: Adept at managing databases, including PostgreSQL and MySQL for structured data and MongoDB for flexible and scalable NoSQL solutions.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>